//BrightMode

$b-main-background-color: #ffe1c7;
$b-title-font-color: #000000;
$b-font-color: #b0a5a1;
$b-day-btn-bakcground-color: orange;
$b-day-btn-font-color: #fff;
$b-night-btn-bakcground-color: #fff;
$b-night-btn-font-color: #715d5d;

//DarkMode

$d-main-background-color: #8e8f8f;
$d-title-font-color: #000000;
$d-font-color: #5a6386;
$d-day-btn-bakcground-color: #fff;
$d-day-btn-font-color: #997878;
$d-night-btn-bakcground-color: #6a669d;
$d-night-btn-font-color: #fff;
